{% load static %}

<!DOCTYPE html>
<html>

<head>
<title>N Brand Watches</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Gaming Login Form Widget Tab Form,Login Forms,Sign up Forms,Registration Forms,News letter Forms,Elements"/>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="{% static 'wl/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
	<div class="padding-all">
		<div class="header">
			<h1><img src=".{% static 'wl/images/5.png' %}" alt=" "> Gaming Login Form</h1>
		</div>

		<div class="design-w3l">
			<div class="mail-form-agile">
				<form action="#" method="">
					<input type="text" name="name" placeholder="User email" required=""/>
					<br><br><br>
					<!-- <input type="password"  name="password" class="padding" placeholder="Password" required=""/> -->
					<input  type="submit" value="submit">
					
				</form>
			</div>
            <button class="btn btn-primary" type="submit">
			<a class="btn btn-primary" 	href="{% url 'frontpage' %}" role="button"> skip</button></a>


		  <div class="clear"> </div>
		</div>
		
		<div class="footer">
		<!-- <p>© 2017 Gaming Login form. All Rights Reserved | Design by  <a href="https://w3layouts.com/" >  w3layouts </a></p> -->
		</div>
	</div>
</body>
</html>